/* You can add global styles to this file, and also import other style files */
.link-dark {
    color: #212529;
}

.form-control.required {
    border-left-color: #dc3545!important;
    border-left-width: 5px;
}