<div class="card">
  <h5 class="card-header">Dados Pessoais</h5>
  <div class="card-body">
    <!-- <p class="card-text">Atualize seus dados pessoais.</p> -->

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">Nome</label>
          <input formControlName="firstName" type="text" class="form-control" id="firstName" required>
          <div class="valid-feedback">Valid Username.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Sobrenome</label>
          <input formControlName="lastName" type="text" class="form-control" id="lastName">
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Não compartilharemos seu e-mail com ninguém.</small>
      </div>


      <button type="submit" [disabled]="!profileForm.valid" class="btn btn-success">Salvar Dados</button>
      <button type="submit" class="btn btn-success">Salvar Dados</button>

    </form>
  </div>

</div>