<div class="row">
    <div class="col-12 jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <h1 class="display-3">Bem-vindo ao Cestou!</h1>

                    <p class="text-justify lead">
                        A plataforma Cestou chegou para se tornar a forma mais simples, confiável e rápida de
                        contribuição para famílias em situação de vulnerabilidade social, através do direito mais
                        universal:
                    </p>
                    <h2 class="justify-content-end d-flex text-danger">
                        <strong>o direito à alimentação.</strong>
                    </h2>
                    <hr class="my-4">
                    <p>
                        Conheça mais sobre o Cestou e faça parte da mudança você também!
                    </p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>

                </div>
                <div class="col-md-6">
                    <img src="assets/images/cartazJuntosSomosMaisCut.png" class="shadow img-fluid" alt="...">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-lg btn-danger" disabled style="margin-bottom: -150px;">
                            <span>
                                <i class="bi-arrow-down-circle-fill" role="img" aria-label="GitHub"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-3"><strong>Como funciona?</strong> </h1>
</div>

<hr class="my-4">

<div class="row">
    <div class="col-12 jumbotron jumbotron-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/cartazDonatariosCut.png" class="shadow img-fluid" alt="...">
                </div>
                <div class="col-md-6">

                    <h1 class="display-4">Gestão de Donatários</h1>

                    <p class="text-justify lead">
                        A plataforma Cestou permite que sejam cadastradas famílias e/ou pessoas em situação de
                        vulnerabilidade social.
                    </p>
                    <p class="text-justify lead">
                        Os donatários podem, então, serem apadrinhados por instituições com comprovada capacidade
                        de recepção de doações e distribuição de cestas básicas.
                    </p>
                    <p class="text-justify lead text-danger">
                        <strong>
                            O cadastro de donatários é o primeiro passo para que a ajuda chegue
                            para quem mais precisa!
                        </strong>
                    </p>
                    <hr class="my-4">
                    <p>
                        Conheça mais sobre o Cestou e faça parte da mudança você também!
                    </p>
                    <a class="btn btn-danger btn-lg" href="#" role="button">Cadastrar Donatários</a>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 jumbotron jumbotron-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <h1 class="display-4">Gestão de Instituições</h1>

                    <p class="text-justify lead">
                        Com objetivo de ser uma ponte entre instituições sociais e as famílias donatárias, o Cestou
                        permite com que você utilize a plataforma como forma de gerenciar sua instituição, através de:
                    </p>
                    <ul>
                        <li>Captação de doações através da plataforma.</li>
                        <li>Visualizar e apadrinhar donatários para entrega das cestas básicas.</li>
                        <li>Maior visibilidade e possibilidades de lançamento de campanhas de fraternidade.</li>
                        <li>Publicação de prestação de contas.</li>
                    </ul>

                    <p class="text-justify lead text-danger">
                        <strong>
                            Uma ponte entre donatários e doadores através de instituições competentes: esse é o foco
                            do Cestou no combate à fome, dando alívio àqueles que mais precisam.
                        </strong>
                    </p>
                    <hr class="my-4">
                    <p>
                        Conheça mais sobre o Cestou e faça parte da mudança você também!
                    </p>
                    <a class="btn btn-danger btn-lg" href="#" role="button">Cadastre sua Instituição</a>

                </div>
                <div class="col-md-6">
                    <img src="assets/images/cartazInstituicaoCut.png" class="shadow img-fluid" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 jumbotron jumbotron-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/cartazEFacilAjudarCut.png" class="shadow img-fluid" alt="...">
                </div>
                <div class="col-md-6">

                    <h1 class="display-4">Plataforma de Doações</h1>

                    <p class="text-justify lead">
                        A parte mais importante do nosso processo, as doações podem ser realizadas de forma anônima ou
                        a partir de usuários cadastrados na plataforma.
                    </p>
                    <p class="lead">
                        Algumas vantagens de ser um doador cadastrado:
                    </p>
                    <ul>
                        <li>Comprovar que sua doação está fazendo a diferença na vida das famílias cadastradas.</li>
                        <li>Escolha uma instituição para programar doações recorrentes.</li>
                        <li>Facilite sua declaração de imposto de renda.</li>
                    </ul>
                    <p class="text-justify lead text-danger">
                        <strong>
                            Em um mundo onde poucos tem tanto e tantos vivem com tão pouco, a doação se torna uma
                            ferramenta
                            tranformadora da realidade, carregando esperança para àqueles na margem da sociedade.
                        </strong>
                    </p>
                    <hr class="my-4">
                    <p>
                        Conheça mais sobre o Cestou e faça parte da mudança você também!
                    </p>
                    <a class="btn btn-danger btn-lg" href="#" role="button">Faça uma Doação</a>

                </div>
            </div>
        </div>
    </div>
</div>