<div class="side-nav sticky-top">

    <a routerLink="/" class="d-flex align-items-center mt-3 mb-2 link-dark text-decoration-none">
        <h3>Cestou</h3>
    </a>

    <div class="border-dark dropdown-divider"></div>

    <div class="p-3 mx-auto col-sm-2 col-md-6">
        <img src="assets/images/anonymous-user.png" class="rounded img-fluid" alt="user image">
    </div>
    <div class="col-md-12">
        <p class="text-center">Vinícius Oliveira</p>
    </div>

    <div class="border-dark dropdown-divider"></div>

    <ul class="nav nav-pills flex-column mb-auto">
        <side-nav-menu-item routeUrl="home" text="Início" icon="bi-house"></side-nav-menu-item>
        <side-nav-menu-item routeUrl="profile" text="Perfil" icon="bi-person"></side-nav-menu-item>
        <side-nav-menu-item routeUrl="grantees" text="Donatários" icon="bi-heart"></side-nav-menu-item>
        <side-nav-menu-item routeUrl="institutions" text="Instituições" icon="bi-building" [badgeCount]="10">
        </side-nav-menu-item>
        <side-nav-menu-item routeUrl="donations" text="Doações" icon="bi-credit-card"></side-nav-menu-item>
        <side-nav-menu-item routeUrl="invites" text="Convites" icon="bi-envelope"></side-nav-menu-item>
    </ul>

</div>