<div class="card">
  <h5 class="card-header">{{title}}
    <small *ngIf="subtitle" class="text-muted">{{subtitle}}</small>
  </h5>
  <div class="card-body">

    <form [formGroup]="personFormGroup">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="ssn">CPF</label>
          <input formControlName="ssn" type="text" class="form-control required" id="ssn" mask="000.000.000-00">
        </div>
        <div class="form-group col-md-6">
          <label for="birthDate">Data de Nascimento</label>
          <input formControlName="birthDate" type="text" class="form-control required" id="birthDate" mask="00/00/0000">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">Nome</label>
          <input formControlName="firstName" type="text" class="form-control required" id="firstName">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Sobrenome</label>
          <input formControlName="lastName" type="text" class="form-control required" id="lastName">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">E-mail</label>
          <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Não compartilharemos seu e-mail com ninguém.</small>
        </div>
        <div class="form-group col-md-6">
          <label for="phoneNumber">Telefone</label>
          <input formControlName="phoneNumber" type="text" class="form-control" id="phoneNumber" mask="(00) 00000-0000">
        </div>
      </div>
    </form>

  </div>

</div>