<div class="sticky-top">

    <div class="p-3 mx-auto col-md-6">
        <img src="assets/images/anonymous-user.png" class="rounded img-fluid" alt="user image">
        <p class="p-2 text-center">Vinícius</p>
    </div>

    <div class="list-group list-group-flush">
        <side-nav-menu-item routeUrl="/home" text="Home"></side-nav-menu-item>
        <side-nav-menu-item routeUrl="/profile" text="Perfil"></side-nav-menu-item>
        <side-nav-menu-item routeUrl="/grantee" text="Donatários"></side-nav-menu-item>
        <side-nav-menu-item routeUrl="/institutions" text="Instituições" [badgeCount]="10"></side-nav-menu-item>
        <side-nav-menu-item routeUrl="/donations" text="Doações"></side-nav-menu-item>
        <side-nav-menu-item routeUrl="/invites" text="Convites"></side-nav-menu-item>
    </div>

    <div class="list-group list-group-flush fixed-bottom">
        <a href="#" class="list-group-item list-group-item-action text-danger">Logout</a>
    </div>
</div>