    <div class="card">
    <h5 class="card-header">{{title}}
        <small *ngIf="subtitle" class="text-muted">{{subtitle}}</small>
    </h5>
    <div class="card-body">
        
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="zipCode">CEP</label>
                    <input formControlName="zipCode" type="text" class="form-control required" id="zipCode" mask="00000-000">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="address">Endereço</label>
                    <input formControlName="address" type="text" class="form-control required" id="address">
                </div>
                <div class="form-group col-md-3">
                    <label for="district">Bairro</label>
                    <input formControlName="district" type="text" class="form-control required" id="district">
                </div>
                <div class="form-group col-md-3">
                    <label for="complement">Complemento</label>
                    <input formControlName="complement" type="text" class="form-control" id="complement">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">Cidade</label>
                    <input formControlName="city" type="text" class="form-control required" id="city">
                </div>
                <div class="form-group col-md-6">
                    <label for="state">Estado</label>
                    <select formControlName="state" id="state" class="form-control required">
                        <option selected>Escolha...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Salvar Endereço</button>
        </form>

    </div>

</div>