<div class="card">
    <h5 class="card-header">Dados de Endereço</h5>
    <div class="card-body">
        <!-- <p class="card-text">Atualize seus dados pessoais.</p> -->
        <form>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="zipCode">CEP</label>
                    <input type="number" class="form-control" id="zipCode">
                    <small id="zipCode" class="form-text text-muted">Informe seu CEP.</small>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="address">Endereço</label>
                    <input type="text" class="form-control" id="address">
                </div>
                <div class="form-group col-md-3">
                    <label for="district">Bairro</label>
                    <input type="text" class="form-control" id="district">
                </div>
                <div class="form-group col-md-3">
                    <label for="complement">Complemento</label>
                    <input type="text" class="form-control" id="complement">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">Cidade</label>
                    <input type="text" class="form-control" id="city">
                </div>
                <div class="form-group col-md-6">
                    <label for="state">Estado</label>
                    <select id="state" class="form-control">
                        <option selected>Escolha...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Salvar Endereço</button>
        </form>

    </div>

</div>